body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.videomaster {
    width: 100%;
    z-index: -1;
    height: auto;
}

#header {
    width: 100%; /** This solved a big problem with the nav ul li items, take it away and you will see**/
    top: 0;
    background-color: rgba(100, 100, 100, 0.507);
    height: 70px;
    position: fixed; 
    z-index: 1;
  }

.topnav {
  overflow: hidden;
}

.topnav a.active {
  background-color: rgba(255, 255, 255, 0.5);
}

.topnav a{
  float: left;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  padding: 17.5px 20px;
}

.topnav-right {
  float: right;
}

.topnav a:hover {
  background-color: rgba(255, 255, 255, 0.5); 
}

.header {
    position: absolute;
    color: black;
    text-align: center ;
    margin-top: 3vw;
    margin-bottom: 5vw;
    font-size: 2.5em;
    left: -50%;
    right: -50%;

}



input[type=radio] {
    display: none;
  }
  
#slider {
    z-index: 0;
    width: 1000px;
    height: 15vw;
    position: absolute; /*relative position cuased problems, but needed to add the left and rigth -50%*/
    perspective: 23rem;
    transform-style: preserve-3d;
    margin: -45vw auto;
    left: -50%;
    right: -50%;
  }
  
#slider label {
    margin: auto;
    width: 800px;
    
    height: 450px;
    border-radius: 10px;
    position: absolute;
    left: 0; right: 0;
    cursor: pointer;
    transition: transform 0.9s ease;
  }

  /* https://calculateaspectratio.com/ */
  
  /* far left*/
  #s1:checked ~ #slide4, #s2:checked ~ #slide5,
  #s3:checked ~ #slide1, #s4:checked ~ #slide2,
  #s5:checked ~ #slide3 {
    box-shadow: 0 5px 8px 0 rgba(0,0,0,.37);
    transform: translate3d(-65%,0,-200px) rotateY(10deg);
  }
  /* left */
  #s1:checked ~ #slide5, #s2:checked ~ #slide1,
  #s3:checked ~ #slide2, #s4:checked ~ #slide3,
  #s5:checked ~ #slide4 {
    box-shadow: 0 12px 15px 0 rgba(0,0,0,.3), 0 2px 2px 0 rgba(0,0,0,.2);
    transform: translate3d(-25%,0,-100px) rotateY(10deg);
  }
  /* middle */
  #s1:checked ~ #slide1, #s2:checked ~ #slide2,
  #s3:checked ~ #slide3, #s4:checked ~ #slide4,
  #s5:checked ~ #slide5 {
    box-shadow: 0px 30px 80px -9px rgba(0,0,0,0.5), 0 11px 7px 0 rgba(0,0,0,.19);
    transform: translate3d(0,0,0);
  }
  /* right */
  #s1:checked ~ #slide2, #s2:checked ~ #slide3,
  #s3:checked ~ #slide4, #s4:checked ~ #slide5,
  #s5:checked ~ #slide1 {
    box-shadow: 0 12px 15px 0 rgba(0,0,0,.3), 0 2px 2px 0 rgba(0,0,0,.2);
    transform: translate3d(25%,0,-100px) rotateY(-10deg);
  }
  /* far right */
  #s1:checked ~ #slide3, #s2:checked ~ #slide4,
  #s3:checked ~ #slide5, #s4:checked ~ #slide1,
  #s5:checked ~ #slide2 {
    box-shadow: 0 5px 8px 0 rgba(0,0,0,.37);
    transform: translate3d(65%,0,-200px) rotateY(-10deg);
  }
  
  /*#slide1 { background: #00BCD4 }
  #slide2 { background: #4CAF50 }
  #slide3 { background: #4CAF50 }
  #slide4 { background: #FFC107 }
  #slide5 { background: #FF5722 }*/

  .video {
      border-radius: 10px;
  }

  .footer {
    position: fixed;
    height: 70px;
    width: 100%;
    z-index: 5;
    bottom: 0%;
    background-color: rgba(100, 100, 100, 0.507);
  }

  .bottomnav {
    overflow: hidden;
  }
  
  
  
  .bottomnav a{
    float: left;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    padding: 17.5px 20px;
  }
  
  .bottom-right {
    float: right;
  }
  
  .bottomnav a:hover {
    background-color: rgba(255, 255, 255, 0.5); 
  }

