body {
    margin: 0px;
}

video {
    width: 100%;
    z-index: -1;
    height: auto;
}

.header {
    width: ;
    position: relative;
    z-index: 1;
    color: black;
    text-align: center ;
    margin-top: -700px;
    
    
    font-size: 3em;
}

h1 {
    display: inline-block;
    z-index: 1;
}

